/* ================= Email Send Button ================= */
.send_btn {
  position: absolute;
  border: none;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 280px;
  height: 70px;
  background: #e0e1e3;
  text-transform: capitalize;
  text-align: center;
  line-height: 10px;
  color: black;
  text-decoration: none;
  font-size: 33px;
  font-family: Verdana;
  letter-spacing: 4px;
  border-radius: 30px;
  cursor: pointer;
}

.send_btn::before,
.send_btn::after,
.send_btn_span::after,
.send_btn_span::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  transition: 1s;
  mix-blend-mode: hue;
}

.send_btn::before {
  background: blue;
  top: -5px;
  left: -5px;
}

.send_btn::after {
  background: green;
  top: -5px;
  right: -5px;
}

.send_btn_span::after {
  background: red;
  bottom: -5px;
  right: -5px;
}

.send_btn_span::before {
  background: yellow;
  bottom: -5px;
  left: -5px;
}

.send_btn:hover::after,
.send_btn:hover::before,
.send_btn:hover .send_btn_span::before,
.send_btn:hover .send_btn_span::after {
  width: calc(280px / 2);
  height: calc(70px / 2);
}

/* ===================================================== */
/* ================= Voice Send Button ================= */
.voice_record_btn {
  width: 260px;
  height: 70px;
  margin: 0 1rem 1rem 1rem;
  font-size: 20px;
  font-weight: 800;
  border: 2px solid rgb(148, 70, 70);
  cursor: pointer;
  border-radius: 40px;
  background: none;
  transition: 1s;
}
.voice_record_btn:hover {
  box-shadow: inset -10px -10px 20px 0px rgb(222, 37, 37),
    inset 10px 10px 20px 0px rgb(249, 209, 45),
    inset 10px -10px 20px 0px rgb(211, 242, 34),
    inset -10px 10px 20px 0px rgb(255, 171, 62);
}

.voice_send_btn {
  width: 260px;
  height: 70px;
  margin: 0 1rem 1rem 1rem;
  font-size: 20px;
  font-weight: 800;
  cursor: pointer;
  border-radius: 40px;
  transition: 1s;
  border: 2px solid rgb(87, 148, 87);
}

.voice_send_btn:hover {
  box-shadow: inset -10px -10px 20px 0px rgb(42, 235, 119),
    inset 10px 10px 20px 0px rgb(196, 240, 40),
    inset 10px -10px 20px 0px rgb(103, 227, 31),
    inset -10px 10px 20px 0px rgb(62, 255, 226);
}
/* ===================================================== */

/* ================= Phone Send Button ================= */
.phone_send_btn {
  margin: 0 50px;
  width: 200px;
  height: 200px;
  border-radius: 9999px;
  border: none;
  font-size: 40px;
  font-weight: 800;
  background: none;
  cursor: pointer;
  transition: 1s;
  position: relative;
  color: rgb(0, 0, 0);
  text-shadow: -2px -2px 5px rgb(78, 79, 67), 2px 2px 5px rgb(78, 79, 67);
}

.phone_send_btn:hover {
  font-size: 50px;
}

.phone_send_btn:disabled {
  text-shadow: inherit;
  color: gray;
}
.phone_send_span1::after {
  transform: rotate(0deg);
  animation: phone1 4s infinite;
  box-shadow: inset -20px -20px 35px 0px rgba(255, 255, 255, 0.64),
    inset 20px 20px 35px 0px rgba(13, 39, 80, 0.16);
}
.phone_send_span1::before {
  transform: rotate(45deg);
  animation: phone2 5s infinite;
  box-shadow: inset -20px -20px 35px 0px rgba(255, 255, 255, 0.64),
    inset 20px 20px 35px 0px rgba(13, 39, 80, 0.16);
}
.phone_send_span2::after {
  transform: rotate(90deg);
  animation: phone3 6s infinite;
  box-shadow: inset -20px -20px 35px 0px rgba(255, 255, 255, 0.64),
    inset 20px 20px 35px 0px rgba(13, 39, 80, 0.16);
}
.phone_send_span2::before {
  transform: rotate(135deg);
  animation: phone4 8s infinite;
  box-shadow: inset -20px -20px 35px 0px rgba(255, 255, 255, 0.64),
    inset 20px 20px 35px 0px rgba(13, 39, 80, 0.16);
}
.phone_send_span1::after,
.phone_send_span1::before,
.phone_send_span2::after,
.phone_send_span2::before {
  width: 190px;
  height: 210px;
  content: "";
  border-radius: 50px;
  position: absolute;
  top: 0;
  left: 0;
}
@keyframes phone1 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes phone2 {
  0% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(405deg);
  }
}
@keyframes phone3 {
  0% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(450deg);
  }
}
@keyframes phone4 {
  0% {
    transform: rotate(135deg);
  }
  100% {
    transform: rotate(495deg);
  }
}
/* ===================================================== */

/* ================= Kakao Send Button ================= */
.kakao_login_btn {
  width: 366px;
  height: 90px;
  border: none;
  /* border-radius: 13px; */
  background-color: inherit;
  color: #000000 85%;
  font-size: 30px;
  cursor: pointer;
  background-image: url("../public/images/kakao_login_btn.png");
}
