.home_head_wrap {
  border: 1px solid blue;
}

.heading2Xl {
  font-size: 2.5rem;
  line-height: 1.2;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
}

.headingXl {
  font-size: 2rem;
  line-height: 1.3;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
}

.headingLg {
  font-size: 1.5rem;
  line-height: 1.4;
  margin: 1rem 0;
}

.headingMd {
  font-size: 1.2rem;
  line-height: 1.5;
}

.borderCircle {
  border-radius: 9999px;
}

.colorInherit {
  color: inherit;
}

.padding1px {
  padding-top: 1px;
}

/* home-------------------------------------------------------------------------------- */
.section_contact {
  border-radius: 10px;
  box-shadow: 10px 10px 20px 0px rgba(13, 39, 80, 0.16),
    -5px -5px 30px 0px #ffffff;
}

.section_contents {
  border-radius: 10px;
  box-shadow: 28px 28px 50px 0px rgba(13, 39, 80, 0.16),
    -23px -23px 45px 0px #ffffff;
  position: relative;
}

.contact_list {
  /* border: 1px solid red; */
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  width: auto;
  height: 120px;
  justify-content: center;
  align-items: center;
}

.contact_listItem {
  margin: 0 1.2rem 0 1.2rem;
  width: 80px;
  height: 80px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: inset -10px -10px 18px 0px rgba(255, 255, 255, 0.64),
    inset 7px 7px 15px 0px rgba(13, 39, 80, 0.16);
  /* border: 1px solid orange; */
}
.contact_image {
  max-width: 50px;
  max-height: 50px;
  object-fit: contain;
  margin: 10px;
}
.contact_listItem:hover .contact_image {
  animation-name: twist;
  animation-duration: 0.5s;
}
@keyframes twist {
  0% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(-45deg);
  }
  50% {
    transform: rotate(0);
  }
  75% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(0);
  }
}

.contents_list {
  height: 300px;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  overflow-y: scroll;
}

.contents_list::-webkit-scrollbar {
  height: 8px;
}
.contents_list::-webkit-scrollbar-thumb:hover {
  background-color: aquamarine;
  cursor: pointer;
}
.contents_list::-webkit-scrollbar-thumb {
  background-color: #2f3542;
  border-radius: 10px;
}
.contents_list::-webkit-scrollbar-track {
  background-color: grey;
  border-radius: 10px;
  box-shadow: inset 0px 0px 5px white;
}

.contents_left_btn {
  background-color: inherit;
  position: absolute;
  border: inherit;
  left: -25px;
  top: 25px;
  width: 40px;
  height: 400px;
  cursor: pointer;
}
.contents_left_btn:hover,
.contents_right_btn:hover {
  transform: scale(1.5);
}

.contents_right_btn {
  background-color: inherit;
  position: absolute;
  right: -25px;
  top: 25px;
  border: inherit;
  width: 40px;
  height: 400px;
  cursor: pointer;
}

.contents_listItem {
  margin: 0 0.6rem 1.25rem;
  padding: 1rem;
  display: flex;
  /* flex-direction: column; */
  border-radius: 10px;
  /* color: ; */
  box-shadow: inset -13px -13px 13px 0px rgba(255, 255, 255, 0.64),
    inset 8px 8px 10px 0px rgba(13, 39, 80, 0.16);
}

.contents_link {
  display: flex;
  justify-content: center;
}
.contents_listImage {
  width: 150px;
  height: 150px;
  border-radius: 8px;
  margin-bottom: 1rem;
  /* border: 1px solid yellow; */
}

.lightText {
  color: #666;
}
/* ------------------------------------------------------------------------------------ */
/* home-contacts-Blockchain------------------------------------------------------------ */
/* home-contacts-Email----------------------------------------------------------------- */
.email_input_container {
  height: 380px;
  /* display: flex; */
  flex-direction: column;
  align-items: center;
  position: relative;
  /* border: 1px solid blueviolet; */
}

.email_add_check_p {
  font-size: 5px;
}
/* home-contacts-Kakao----------------------------------------------------------------- */
/* home-contacts-Voice----------------------------------------------------------------- */
.voice_title {
  text-align: center;
  margin: 1rem 0 0 0;
}

.voice_explain {
  text-align: center;
  font-size: 15px;
  color: blue;
}

.voice_form {
  display: flex;
  flex-direction: column;
  margin: 1.5rem 0 2rem 6rem;
}

.voice_btn_wrap {
  display: flex;
  justify-content: center;
}

/* home-contacts-Phone----------------------------------------------------------------- */
.phone_num_container {
  display: flex;
  justify-content: center;
}
.phone_table_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.phone_input_table {
  margin: 30px;
}

.phone_input_table td {
  cursor: pointer;
  text-align: center;
  width: 80px;
  height: 80px;
  border-radius: 10px;
  font-size: 30px;
  transition: 0.5s;
  box-shadow: -13px -13px 13px 0px rgba(255, 255, 255, 0.64),
    8px 8px 10px 0px rgba(13, 39, 80, 0.16);
}
.phone_input_table td:hover {
  transform: scale(1.2);
}

/* .phone_num_box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: calc(-50%, -50%);
} */
.phone_num_box::before {
  /* position: absolute; */
  /* top: 5px; */
  border: 1px solid pink;
  margin: 5px;
}
